<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PLAT_ROLE">
  <!-- 对象定义:角色对象 -->
  <resultMap id="RoleMap" type="PlatRole">
    <id      column="id"         property="id"         jdbcType="VARCHAR"/>
    <result  column="roleName"   property="roleName"   jdbcType="VARCHAR"/>
    <result  column="roleType"   property="roleType"   jdbcType="INTEGER"/>
    <result  column="descn"      property="descn"      jdbcType="CLOB"/>
    <result  column="cTime"      property="cTime"      jdbcType="TIMESTAMP"/>
  </resultMap>

  <!-- 所有列 -->
  <sql id="Base_Role_List">
    id, roleName, roleType, descn, cTime
  </sql>
  
  <!-- 新增角色 -->
  <insert id="insert" parameterType="java.util.Map">
    insert into plat_Role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id!=null">id,</if>
      <if test="roleName!=null">roleName,</if>
      <if test="roleType!=null">roleType,</if>
      <if test="descn!=null">descn,</if>
      <if test="cTime!=null">cTime,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id!=null">#{id,jdbcType=VARCHAR},</if>
      <if test="roleName!=null">#{roleName,jdbcType=VARCHAR},</if>
      <if test="roleType!=null">#{roleType,jdbcType=INTEGER},</if>
      <if test="descn!=null">#{descn,jdbcType=CLOB},</if>
      <if test="cTime!=null">#{cTime,jdbcType=TIMESTAMP},</if>
    </trim>
  </insert>
  
  <!-- 删除角色 -->
  <delete id="deleteRole" parameterType="java.util.Map">
    <![CDATA[
      delete from plat_Role where id in
    ]]>
    <foreach collection="roleId" item="ids"  open="(" separator="," close=")">  
      #{ids} 
    </foreach>
  </delete>

  <!-- 获取角色列表总数 -->
  <select id="getRoleListCount" parameterType="java.util.Map" resultType="java.lang.Integer">
    select count(id) from plat_Role
  </select>

  <!-- 获取角色列表总数 -->
  <select id="checkRoleById" parameterType="java.util.Map" resultType="java.lang.Integer">
    select count(id) from plat_Role 
    where id=#{roleId, jdbcType=VARCHAR}
  </select>
  
  <!-- 获取角色列表 -->
  <select id="getRoleList" parameterType="java.util.Map" resultType="java.util.HashMap">
    select id, roleName, roleType, descn from plat_Role
  </select>
 
  <!-- 修改角色 -->
  <update id="updateRole" parameterType="java.util.Map">
    update plat_Role
    <set>
      <if test="roleName!=null">roleName=#{roleName,jdbcType=VARCHAR},</if>
      <if test="desc!=null">descn=#{desc,jdbcType=VARCHAR},</if>
    </set>
    where id=#{roleId,jdbcType=VARCHAR};
  </update>

  <!-- 对象定义:角色操作对象 -->
  <resultMap id="RoleFunMap" type="RoleFunction">
    <id      column="id"         property="id"         jdbcType="VARCHAR"/>
    <result  column="roleId"     property="roleId"     jdbcType="VARCHAR"/>
    <result  column="funName"    property="funName"    jdbcType="VARCHAR"/>
    <result  column="funClass"   property="funClass"   jdbcType="VARCHAR"/>
    <result  column="funType"    property="funType"    jdbcType="VARCHAR"/>
    <result  column="objId"      property="objId"      jdbcType="INTEGER"/>
    <result  column="funFlag1"   property="funFlag1"   jdbcType="INTEGER"/>
    <result  column="funFlag2"   property="funFlag2"   jdbcType="INTEGER"/>
    <result  column="extInfo"    property="extInfo"    jdbcType="CLOB"/>
    <result  column="cTime"      property="cTime"      jdbcType="TIMESTAMP"/>
  </resultMap>
  
  <!-- 所有列 -->
  <sql id="Base_RoleFun_List">
    id, roleId, funName, funClass, funType, objId, funFlag1, funFlag2, extInfo, cTime
  </sql>
  
  <!-- 新增角色 -->
  <insert id="insertRole" parameterType="java.util.Map">
    insert into plat_RoleFunction
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id!=null">id,</if>
      <if test="roleId!=null">roleId,</if>
      <if test="funName!=null">funName,</if>
      <if test="funClass!=null">funClass,</if>
      <if test="funType!=null">funType,</if>
      <if test="objId!=null">objId,</if>
      <if test="funFlag1!=null">funFlag1,</if>
      <if test="funFlag2!=null">funFlag2,</if>
      <if test="extInfo!=null">extInfo,</if>
      <if test="cTime!=null">cTime,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id!=null">#{id,jdbcType=VARCHAR},</if>
      <if test="roleId!=null">#{roleId,jdbcType=VARCHAR},</if>
      <if test="funName!=null">#{funName,jdbcType=VARCHAR},</if>
      <if test="funClass!=null">#{funClass,jdbcType=VARCHAR},</if>
      <if test="funType!=null">#{funType,jdbcType=VARCHAR},</if>
      <if test="objId!=null">#{objId,jdbcType=VARCHAR},</if>
      <if test="funFlag1!=null">#{funFlag1,jdbcType=INTEGER},</if>
      <if test="funFlag2!=null">#{funFlag2,jdbcType=INTEGER},</if>
      <if test="extInfo!=null">#{extInfo,jdbcType=CLOB},</if>
      <if test="cTime!=null">#{cTime,jdbcType=TIMESTAMP},</if>
    </trim>
  </insert>
  
  <!-- 设置角色功能 -->
  <update id="setRoleFun" parameterType="java.util.Map">
    update plat_RoleFunction
    <set>
      <if test="funName!=null">funName=#{funName,jdbcType=VARCHAR},</if>
      <if test="funClass!=null">funClass=#{funClass,jdbcType=VARCHAR},</if>
      <if test="funType!=null">funType=#{funType,jdbcType=VARCHAR},</if>
      <if test="objId!=null">objId=#{objId,jdbcType=VARCHAR},</if>
      <if test="funFlag1!=null">funFlag1=#{funFlag1,jdbcType=INTEGER},</if>
      <if test="funFlag2!=null">funFlag1=#{funFlag1,jdbcType=INTEGER},</if>
    </set>
    where roleId=#{roleId,jdbcType=VARCHAR};
  </update>

  <!-- 查询角色信息 -->
  <select id="getRoleFun" parameterType="java.util.Map" resultType="java.util.HashMap">
    select * from plat_RoleFunction where roleId=#{roleId, jdbcType=VARCHAR}
  </select>
  
  <!-- 角色被删除时应删除相关的信息 -->
  <delete id="deleteRoleFun" parameterType="java.util.Map">
    <![CDATA[
      delete from plat_RoleFunction where roleId in
    ]]>
    <foreach collection="roleId" item="ids"  open="(" separator="," close=")">  
      #{ids} 
    </foreach>
  </delete>

  <!-- 对象定义:用户操作权限对象 -->
  <resultMap id="UserFunMap" type="UserFunction">
    <id      column="id"         property="id"         jdbcType="VARCHAR"/>
    <result  column="userId"     property="userId"     jdbcType="VARCHAR"/>
    <result  column="roleType"   property="roleType"   jdbcType="INTEGER"/>
    <result  column="roleFunId"  property="roleFunId"  jdbcType="VARCHAR"/>
    <result  column="funName"    property="funName"    jdbcType="VARCHAR"/>
    <result  column="funClass"   property="funClass"   jdbcType="VARCHAR"/>
    <result  column="funType"    property="funType"    jdbcType="VARCHAR"/>
    <result  column="objId"      property="objId"      jdbcType="VARCHAR"/>
    <result  column="funFlag1"   property="funFlag1"   jdbcType="INTEGER"/>
    <result  column="funFlag2"   property="funFlag2"   jdbcType="INTEGER"/>
    <result  column="extInfo"    property="extInfo"    jdbcType="CLOB"/>
    <result  column="cTime"      property="cTime"      jdbcType="TIMESTAMP"/>
  </resultMap>
  
  <!-- 所有列 -->
  <sql id="Base_UserFun_List">
    id, userId, roleType, roleFunId, funName, funClass, funType, objId, funFlag1, funFlag2, extInfo, cTime
  </sql>
  
  <!-- 查询用户是否已经有相关权限  如果没有则是第一次给用户设置权限  如果有则是修改用户的权限 -->
  <select id="selectUserFun" parameterType="java.util.Map" resultType="java.lang.Integer">
    select count(id) from plat_UserFunction
    where userId=#{userId, jdbcType=VARCHAR}
  </select>

  <!-- 新增数据 -->
  <insert id="insertUserFun" parameterType="java.util.Map">
    insert into plat_UserFunction
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id!=null">id,</if>
      <if test="userId!=null">userId,</if>
      <if test="roleType!=null">roleType,</if>
      <if test="roleFunId!=null">roleFunId,</if>
      <if test="funName!=null">funName,</if>
      <if test="funClass!=null">funClass,</if>
      <if test="funType!=null">funType,</if>
      <if test="objId!=null">objId,</if>
      <if test="funFlag1!=null">funFlag1,</if>
      <if test="funFlag2!=null">funFlag2,</if>
      <if test="extInfo!=null">extInfo,</if>
      <if test="cTime!=null">cTime,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id!=null">#{id,jdbcType=VARCHAR},</if>
      <if test="userId!=null">#{userId,jdbcType=VARCHAR},</if>
      <if test="roleType!=null">#{roleType,jdbcType=INTEGER},</if>
      <if test="roleFunId!=null">#{roleFunId,jdbcType=VARCHAR},</if>
      <if test="funName!=null">#{funName,jdbcType=VARCHAR},</if>
      <if test="funClass!=null">#{funClass,jdbcType=VARCHAR},</if>
      <if test="funType!=null">#{funType,jdbcType=VARCHAR},</if>
      <if test="objId!=null">#{objId,jdbcType=VARCHAR},</if>
      <if test="funFlag1!=null">#{funFlag1,jdbcType=INTEGER},</if>
      <if test="funFlag2!=null">#{funFlag2,jdbcType=INTEGER},</if>
      <if test="extInfo!=null">#{extInfo,jdbcType=CLOB},</if>
      <if test="cTime!=null">#{cTime,jdbcType=TIMESTAMP},</if>
    </trim>
  </insert>

  <!-- 设置用户权限 -->
  <update id="updateUserFun" parameterType="java.util.Map">
    update plat_UserFunction
    set objId=#{objId, jdbcType=VARCHAR}
    where userId=#{userId,jdbcType=VARCHAR};
  </update>

  <!-- 查询用户权限  目前只有栏目权限 -->
  <select id="selectUserRoleFun" parameterType="java.util.Map" resultType="java.util.HashMap">
    select * from plat_UserFunction
    where userId=#{userId, jdbcType=VARCHAR}
  </select>

  <!-- 对象定义:用户角色对象 -->
  <resultMap id="UserRoleMap" type="UserRole">
    <id      column="id"      property="id"     jdbcType="VARCHAR"/>
    <result  column="userId"  property="userId" jdbcType="VARCHAR"/>
    <result  column="roleId"  property="roleId" jdbcType="VARCHAR"/>
    <result  column="cTime"   property="cTime"  jdbcType="TIMESTAMP"/>
  </resultMap>

  <!-- 所有列 -->
  <sql id="Base_User_Role_List">
    id, userId, roleId, cTime
  </sql>
  
  <!-- 查询用户是否已经有角色  如果没有则是第一次设置  如果有则是修改用户的角色 -->
  <select id="selectUserRoleCount" parameterType="java.util.Map" resultType="java.lang.Integer">
    select count(id) from plat_User_Role 
    where userId=#{userId, jdbcType=VARCHAR}
  </select>
  
  <!-- 给用户新增角色 -->
  <insert id="insertUserRole" parameterType="java.util.Map">
    insert into plat_User_Role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id!=null">id,</if>
      <if test="userId!=null">userId,</if>
      <if test="roleId!=null">roleId,</if>
      <if test="cTime!=null">cTime,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id!=null">#{id,jdbcType=VARCHAR},</if>
      <if test="userId!=null">#{userId,jdbcType=VARCHAR},</if>
      <if test="roleId!=null">#{roleId,jdbcType=INTEGER},</if>
      <if test="cTime!=null">#{cTime,jdbcType=TIMESTAMP},</if>
    </trim>
  </insert>
  
  <!-- 设置用户角色 -->
  <update id="updateUserRole" parameterType="java.util.Map">
    update plat_User_Role
    set roleId=#{roleId, jdbcType=VARCHAR}
    where userId=#{userId,jdbcType=VARCHAR};
  </update>
  
  <!-- 删除角色 -->
  <delete id="deleteUserRole" parameterType="java.util.Map">
    <![CDATA[
      delete from plat_User_Role where roleId in
    ]]>
    <foreach collection="roleId" item="ids"  open="(" separator="," close=")">  
      #{ids} 
    </foreach>
  </delete>
  
  <!-- 查询用户的角色 -->
  <select id="selectUserRole" parameterType="java.util.Map" resultType="java.util.HashMap">
    select * from plat_User_Role
    where userId=#{userId, jdbcType=VARCHAR}
  </select>
</mapper>