<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
  App版本管理
-->
<mapper namespace="P_VERSION">
  <!-- ===================版本配置========================= -->
  <resultMap id="verCfgMap" type="PVerConfig">
    <id      column="pubStorePath"       property="pubStorePath"       jdbcType="VARCHAR"/>
    <result  column="pubFileName"        property="pubFileName"        jdbcType="VARCHAR"/>
    <result  column="pubUrl"             property="pubUrl"             jdbcType="VARCHAR"/>
    <result  column="verGoodsStorePath"  property="verGoodsStorePath"  jdbcType="VARCHAR"/>
  </resultMap>

  <!-- 获得版本配置信息 -->
  <select id="getCfgList" resultMap="verCfgMap">
    select * from p_VerConfig
  </select>
  <!-- 修改 版本配置-->
  <update id="updateCfg" parameterType="java.util.Map">
    update p_VerConfig
    <set>
      <if test="pubStorePath!=null">pubStorePath=#{pubStorePath,jdbcType=VARCHAR},</if>
      <if test="pubFileName!=null">pubFileName=#{pubFileName,jdbcType=VARCHAR},</if>
      <if test="pubUrl!=null">pubUrl=#{pubUrl,jdbcType=VARCHAR},</if>
      <if test="verGoodsStorePath!=null">verGoodsStorePath=#{verGoodsStorePath,jdbcType=VARCHAR},</if>
    </set>
  </update>

  <!-- ===================版本信息========================= -->
  <!-- 对象定义:版本信息 -->
  <resultMap id="versionMap" type="PVersion">
    <id      column="id"               property="id"               jdbcType="INTEGER"/>
    <result  column="appName"          property="appName"          jdbcType="VARCHAR"/>
    <result  column="version"          property="version"          jdbcType="VARCHAR"/>
    <result  column="verMemo"          property="verMemo"          jdbcType="VARCHAR"/>
    <result  column="bugMemo"          property="bugMemo"          jdbcType="VARCHAR"/>
    <result  column="pubFlag"          property="pubFlag"          jdbcType="INTEGER"/>
    <result  column="apkFile"          property="apkFile"          jdbcType="VARCHAR"/>
    <result  column="apkSize"          property="apkSize"          jdbcType="INTEGER"/>
    <result  column="isCurVer"         property="isCurVer"         jdbcType="INTEGER"/>
    <result  column="pubTime"          property="pubTime"          jdbcType="TIMESTAMP"/>
    <result  column="cTime"            property="CTime"            jdbcType="TIMESTAMP"/>
    <result  column="lmTime"           property="lmTime"           jdbcType="TIMESTAMP"/>
    <result  column="extHisPatchInfo"  property="extHisPatchInfo"  jdbcType="VARCHAR"/>
  </resultMap>

  <!-- 所有列 -->
  <sql id="Base_Column_List">
    id, appName, version, verMemo, bugMemo, pubFlag, apkFile, apkSize, isCurVer, pubTime, cTime, lmTime, extHisPatchInfo
  </sql>

  <!-- 条件子句 -->
  <sql id="WhereClauseByEntiey">
    <where>
      <trim prefix="(" suffix=")" prefixOverrides="and">
        <if test="id!=null and id!=0"> and id=#{id,jdbcType=INTEGER}</if>
        <if test="appName!=null"> and appName=#{appName,jdbcType=VARCHAR}</if>
        <if test="version!=null"> and version=#{version,jdbcType=VARCHAR}</if>
        <if test="verMemo!=null"> and verMemo=#{verMemo,jdbcType=VARCHAR}</if>
        <if test="bugMemo!=null"> and bugMemo=#{bugMemo,jdbcType=VARCHAR}</if>
        <if test="pubFlag!=null"> and pubFlag=#{pubFlag,jdbcType=INTEGER}</if>
        <if test="apkFile!=null">  and apkFile=#{apkFile,jdbcType=VARCHAR}</if>
        <if test="apkSize!=null"> and apkSize=#{apkSize,jdbcType=INTEGER}</if>
        <if test="isCurVer!=null">and isCurVer=#{isCurVer,jdbcType=INTEGER}</if>
        <if test="pubTime!=null"> and pubTime=#{pubTime,jdbcType=TIMESTAMP}</if>
        <if test="CTime!=null">   and cTime=#{CTime,jdbcType=TIMESTAMP}</if>
        <if test="lmTime!=null">  and lmTime=#{lmTime,jdbcType=TIMESTAMP}</if>
        <if test="extHisPatchInfo"> and extHisPatchInfo=#{extHisPatchInfo,jdbcType=VARCHAR}</if>
      </trim>
    </where>
  </sql>

  <!-- 获得记录条数-->
  <select id="count" parameterType="java.util.Map" resultType="java.lang.Integer">
    select count(*) from p_Version <if test="_parameter!=null"><include refid="WhereClauseByEntiey"/></if>
  </select>

  <!-- 获得列表 -->
  <select id="getList" parameterType="java.util.Map" resultMap="versionMap">
    select <include refid="Base_Column_List"/> from p_Version
    <if test="_parameter!=null"><include refid="WhereClauseByEntiey"/></if>
    <if test="sortByClause!=null">order by ${sortByClause}</if>
  </select>
  <select id="getNoVersionList" resultMap="versionMap">
    select <include refid="Base_Column_List"/> from p_Version
    <![CDATA[ where id>#{appVerId,jdbcType=INTEGER} and id<=#{curVerId,jdbcType=INTEGER} and pubFlag>0]]>
    order by id desc
  </select>
  <select id="getAllPubHistVerList" parameterType="java.util.Map" resultMap="versionMap">
    select <include refid="Base_Column_List"/> from p_Version
    <![CDATA[ where id<#{id,jdbcType=INTEGER} and pubFlag>0 ]]>
    order by id desc
  </select>

  <!-- 获得新于某个版本号的发布过的版本的个数，用于判断是否可以删除 -->
  <select id="newerVerCount" parameterType="java.util.Map" resultType="java.lang.Integer">
    select count(*) from p_Version <![CDATA[ where id>#{id,jdbcType=INTEGER} and pubFlag>0 ]]>
  </select>
  <select id="newerVerList" parameterType="java.util.Map" resultMap="versionMap">
    select <include refid="Base_Column_List"/> from p_Version <![CDATA[ where id>#{id,jdbcType=INTEGER} and pubFlag>0 ]]> order by id
  </select>

  <!-- 获得应该比较的版本记录 -->
  <select id="getCmpVer" parameterType="java.util.Map" resultMap="versionMap">
    select a.* from p_Version a,
    (select max(id) as id from p_Version where pubFlag>0 <if test="lessId!=null and lessId>0"><![CDATA[ and id<#{lessId,jdbcType=VARCHAR}]]></if>) b
    where a.id=b.id
  </select>

  <!-- 获得一条数据 -->
  <select id="getInfo" parameterType="java.util.Map" resultMap="versionMap">
    select <include refid="Base_Column_List"/> from p_Version <if test="_parameter!=null"><include refid="WhereClauseByEntiey"/></if>
  </select>
  <select id="getCurrentPubVersion" resultMap="versionMap">
    select <include refid="Base_Column_List"/> from p_Version where id=(select max(id) from p_Version where pubFlag=1)
  </select>

  <!-- 新增数据 -->
  <insert id="insert" parameterType="java.util.Map">
    insert into p_Version
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="appName!=null">appName,</if>
      <if test="version!=null">version,</if>
      <if test="verMemo!=null">verMemo,</if>
      <if test="bugMemo!=null">bugMemo,</if>
      <if test="pubFlag!=null">pubFlag,</if>
      <if test="apkFile!=null">apkFile,</if>
      <if test="apkSize!=null">apkSize,</if>
      <if test="isCurVer!=null">isCurVer,</if>
      <if test="pubTime!=null">pubTime,</if>
      <if test="CTime!=null">cTime,</if>
      <if test="lmTime!=null">lmTime,</if>
      <if test="extHisPatchInfo!=null">extHisPatchInfo,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="appName!=null">#{appName,jdbcType=VARCHAR},</if>
      <if test="version!=null">#{version,jdbcType=VARCHAR},</if>
      <if test="verMemo!=null">#{verMemo,jdbcType=VARCHAR},</if>
      <if test="bugMemo!=null">#{bugMemo,jdbcType=VARCHAR},</if>
      <if test="pubFlag!=null">#{pubFlag,jdbcType=INTEGER},</if>
      <if test="apkFile!=null">#{apkFile,jdbcType=VARCHAR},</if>
      <if test="apkSize!=null">#{apkSize,jdbcType=INTEGER},</if>
      <if test="isCurVer!=null">#{isCurVer,jdbcType=INTEGER},</if>
      <if test="pubTime!=null">#{pubTime,jdbcType=TIMESTAMP},</if>
      <if test="CTime!=null">#{CTime,jdbcType=TIMESTAMP},</if>
      <if test="lmTime!=null">#{lmTime,jdbcType=TIMESTAMP},</if>
      <if test="extHisPatchInfo!=null">#{extHisPatchInfo,jdbcType=VARCHAR},</if>
    </trim>
  </insert>

  <!-- 修改 根据主键-->
  <update id="update" parameterType="java.util.Map">
    update p_Version
    <set>
      <if test="appName!=null">appName=#{appName,jdbcType=VARCHAR},</if>
      <if test="version!=null">version=#{version,jdbcType=VARCHAR},</if>
      <if test="verMemo!=null">verMemo=#{verMemo,jdbcType=VARCHAR},</if>
      <if test="bugMemo!=null">bugMemo=#{bugMemo,jdbcType=VARCHAR},</if>
      <if test="pubFlag!=null">pubFlag=#{pubFlag,jdbcType=INTEGER},</if>
      <if test="apkFile!=null">apkFile=#{apkFile,jdbcType=VARCHAR},</if>
      <if test="apkSize!=null">apkSize=#{apkSize,jdbcType=INTEGER},</if>
      <if test="isCurVer!=null">isCurVer=#{isCurVer,jdbcType=INTEGER},</if>
      <if test="pubTime!=null">pubTime=#{pubTime,jdbcType=TIMESTAMP},</if>
      <if test="CTime!=null">cTime=#{CTime,jdbcType=TIMESTAMP},</if>
      <if test="lmTime!=null">lmTime=#{lmTime,jdbcType=TIMESTAMP},</if>
      <if test="extHisPatchInfo!=null">extHisPatchInfo=#{extHisPatchInfo,jdbcType=VARCHAR},</if>
    </set>
    where id=#{id,jdbcType=VARCHAR}
  </update>
  <update id="updateAll" parameterType="java.util.Map">
    update p_Version
    <set>
      <if test="appName!=null">appName=#{appName,jdbcType=VARCHAR},</if>
      <if test="version!=null">version=#{version,jdbcType=VARCHAR},</if>
      <if test="verMemo!=null">verMemo=#{verMemo,jdbcType=VARCHAR},</if>
      <if test="bugMemo!=null">bugMemo=#{bugMemo,jdbcType=VARCHAR},</if>
      <if test="pubFlag!=null">pubFlag=#{pubFlag,jdbcType=INTEGER},</if>
      <if test="apkFile!=null">apkFile=#{apkFile,jdbcType=VARCHAR},</if>
      <if test="apkSize!=null">apkSize=#{apkSize,jdbcType=INTEGER},</if>
      <if test="isCurVer!=null">isCurVer=#{isCurVer,jdbcType=INTEGER},</if>
      <if test="pubTime!=null">pubTime=#{pubTime,jdbcType=TIMESTAMP},</if>
      <if test="CTime!=null">cTime=#{CTime,jdbcType=TIMESTAMP},</if>
      <if test="lmTime!=null">lmTime=#{lmTime,jdbcType=TIMESTAMP},</if>
      <if test="extHisPatchInfo!=null">extHisPatchInfo=#{extHisPatchInfo,jdbcType=VARCHAR},</if>
    </set>
  </update>
<!-- 删除数据 -->
<!--   id=#{id,jdbcType=VARCHAR} -->
  <delete id="delete" parameterType="java.util.Map">
    delete from p_Version <![CDATA[ where id=#{id,jdbcType=INTEGER}]]>
  </delete>
  <delete id="deleteByEntity" parameterType="java.util.Map">
    delete from p_Version <if test="_parameter!=null"><include refid="WhereClauseByEntiey"/></if>
  </delete>
</mapper>