<?xml version="1.0" encoding="UTF-8" ?>

<!-- Etl与资源对应关系 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="A_PERSON">
  <!-- 对应关系 -->
  <resultMap id="BaseResultMap" type="person">
    <id      column="id"             property="id"             jdbcType="VARCHAR"/>
    <result  column="pName"          property="pName"          jdbcType="VARCHAR"/>
    <result  column="pSource"        property="pSource"        jdbcType="VARCHAR"/>
    <result  column="pSrcId"         property="pSrcId"         jdbcType="VARCHAR"/>
    <result  column="age"            property="age"            jdbcType="VARCHAR"/>
    <result  column="birthday"       property="birthday"       jdbcType="VARCHAR"/>
    <result  column="constellation"  property="constellation"  jdbcType="VARCHAR"/>
    <result  column="phoneNum"       property="phoneNum"       jdbcType="VARCHAR"/>
    <result  column="email"          property="email"          jdbcType="VARCHAR"/>
    <result  column="pSrcHomePage"   property="pSrcHomePage"   jdbcType="VARCHAR"/>
    <result  column="portrait"       property="portrait"       jdbcType="VARCHAR"/>
    <result  column="isVerified"     property="isVerified"     jdbcType="INTEGER"/>
    <result  column="descn"          property="descn"          jdbcType="VARCHAR"/>
    <result  column="cTime"          property="cTime"          jdbcType="TIMESTAMP"/>
    <result  column="lmTime"         property="lmTime"         jdbcType="TIMESTAMP"/>
  </resultMap>

  <!-- 所有列 -->
  <sql id="Base_Column_List">
    id, pName, pSource, pSrcId, age, birthday, constellation, phoneNum, email, pSrcHomePage, portrait, isVerified, descn, cTime, lmTime
  </sql>
  
  <!-- 条件子句 -->
  <sql id="WhereClauseByEntiey">
    <where>
      <trim prefix="(" suffix=")" prefixOverrides="and">
        <if test="id!=null">and id=#{id,jdbcType=VARCHAR}</if>
        <if test="pName!=null">and pName=#{pName,jdbcType=VARCHAR}</if>
        <if test="pSource!=null">and pSource=#{pSource,jdbcType=VARCHAR}</if>
        <if test="pSrcId!=null">and pSrcId=#{pSrcId,jdbcType=VARCHAR}</if>
        <if test="age!=null">and age=#{age,jdbcType=VARCHAR}</if>
        <if test="birthday!=null">and birthday=#{birthday,jdbcType=VARCHAR}</if>
        <if test="constellation!=null">and constellation=#{constellation,jdbcType=VARCHAR}</if>
        <if test="phoneNum!=null">and phoneNum=#{phoneNum,jdbcType=VARCHAR}</if>
        <if test="email!=null">and email=#{email,jdbcType=VARCHAR}</if>
        <if test="pSrcHomePage!=null">and pSrcHomePage=#{pSrcHomePage,jdbcType=VARCHAR}</if>
        <if test="portrait!=null">and portrait=#{portrait,jdbcType=VARCHAR}</if>
        <if test="isVerified!=null and isVerified!=0">and isVerified=#{isVerified,jdbcType=INTEGER}</if>
        <if test="descn!=null">and descn=#{descn,jdbcType=VARCHAR}</if>
      </trim>
    </where>
  </sql>

  <insert id="insertList" parameterType="java.util.Map">
    insert into wt_Person(id, pName, pSource, pSrcId, age, birthday, constellation, phoneNum, email, pSrcHomePage, portrait, isVerified, descn, cTime, lmTime) values
    <foreach collection="list" item="list" index="index" separator=",">
     (#{list.id},#{list.pName},#{list.pSource},#{list.pSrcId},#{list.age},#{list.birthday},#{list.constellation},#{list.phoneNum},#{list.email},#{list.pSrcHomePage},#{list.portrait},#{list.isVerified},#{list.descn},#{list.cTime},#{list.lmTime})
    </foreach>
  </insert>
  
  <select id="getList" resultMap="BaseResultMap" parameterType="java.util.Map">
    select <include refid="Base_Column_List"/> from wt_Person <if test="_parameter!=null"><include refid="WhereClauseByEntiey"/></if>
  </select>
  
  <select id="getListByResIdsAndResTableName" resultType="java.util.Map" parameterType="java.util.Map">
    SELECT perf.resId,per.id,per.pName,per.pSource
    from wt_Person per,wt_Person_Ref perf
    where perf.personId = per.id
    and  perf.resTableName = #{resTableName,jdbcType=VARCHAR}
    and (${resIds})
    ORDER BY perf.cTime asc
  </select>
  
</mapper>