<?xml version="1.0" encoding="UTF-8" ?>

<!-- Etl与资源对应关系 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="A_PERSONREF">
  <!-- 对应关系 -->
  <resultMap id="BaseResultMap" type="personref">
    <id      column="id"             property="id"             jdbcType="VARCHAR"/>
    <result  column="refName"        property="refName"        jdbcType="VARCHAR"/>
    <result  column="personId"       property="personId"       jdbcType="VARCHAR"/>
    <result  column="resTableName"   property="resTableName"   jdbcType="VARCHAR"/>
    <result  column="resId"          property="resId"          jdbcType="VARCHAR"/>
    <result  column="cTime"          property="cTime"          jdbcType="TIMESTAMP"/>
  </resultMap>

  <!-- 所有列 -->
  <sql id="Base_Column_List">
    id, refName, personId, resTableName, resId, cTime
  </sql>
  
  <!-- 条件子句 -->
  <sql id="WhereClauseByEntiey">
    <where>
      <trim prefix="(" suffix=")" prefixOverrides="and">
        <if test="id!=null">and id=#{id,jdbcType=VARCHAR}</if>
        <if test="refName!=null">and refName=#{refName,jdbcType=VARCHAR}</if>
        <if test="personId!=null">and personId=#{personId,jdbcType=VARCHAR}</if>
        <if test="resTableName!=null">and resTableName=#{resTableName,jdbcType=VARCHAR}</if>
        <if test="resId!=null">and resId=#{resId,jdbcType=VARCHAR}</if>
      </trim>
    </where>
  </sql>

  <insert id="insertList" parameterType="java.util.Map">
    insert into wt_Person_Ref(id, refName, personId, resTableName, resId, cTime) values
    <foreach collection="list" item="list" index="index" separator=",">
     (#{list.id},#{list.refName},#{list.personId},#{list.resTableName},#{list.resId},#{list.cTime})
    </foreach>
  </insert>
  
  <select id="getListBy" resultMap="BaseResultMap" parameterType="java.util.Map">
    select <include refid="Base_Column_List"/> from wt_Person_Ref
    <if test="_parameter!=null"><include refid="WhereClauseByEntiey"/></if>
  </select>
  
  <delete id="deleteByMap" parameterType="java.util.Map">
    delete from wt_Person_Ref <if test="_parameter!=null"><include refid="WhereClauseByEntiey"/></if>
  </delete>
  
</mapper>