logs
/logs
target
/target
fs-config
/fs-config

*.bak
/bak
/test
/src/test

/WebContent/log
/WebContent/tempUpload
/WebContent/asset
/WebContent/uploadFiles
/WebContent/checkCodeImges
/WebContent/WEB-INF/lib
/WebContent/WEB-INF/classes
/WebContent/test.html
/WebContent/test.jsp
/lib/httpmime-4.1.1.jar
/lib/android.jar

/pom.xml