<?xml version="1.0" encoding="UTF-8" ?>

<!-- 字典与资源对应关系 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="A_DREFRES">
  <!-- 对应关系 -->
  <resultMap id="dictRefResMap" type="dictRefRes">
    <id      column="id"            property="id"            jdbcType="VARCHAR"/>
    <result  column="refName"       property="refName"       jdbcType="VARCHAR"/>
    <result  column="resTableName"  property="resTableName"  jdbcType="VARCHAR"/>
    <result  column="resId"         property="resId"         jdbcType="VARCHAR"/>
    <result  column="dictMid"       property="dictMid"       jdbcType="VARCHAR"/>
    <result  column="dictDid"       property="dictDid"       jdbcType="VARCHAR"/>
    <result  column="cTime"         property="CTime"         jdbcType="TIMESTAMP"/>
  </resultMap>

  <!-- 所有列 -->
  <sql id="Base_Column_List">
    id, refName, resTableName, resId, dictMid, dictDid, cTime
  </sql>

  <!-- 条件子句 -->
  <sql id="WhereClauseByEntiey">
    <where>
      <trim prefix="(" suffix=")" prefixOverrides="and">
        <if test="id!=null"> and id=#{id,jdbcType=VARCHAR}</if>
        <if test="refName!=null"> and refName=#{refName,jdbcType=VARCHAR}</if>
        <if test="resTableName!=null"> and resTableName=#{resTableName,jdbcType=VARCHAR}</if>
        <if test="resId!=null"> and resId=#{resId,jdbcType=VARCHAR}</if>
        <if test="dictMid!=null"> and dictMid=#{dictMid,jdbcType=VARCHAR}</if>
        <if test="dictDid!=null"> and dictDid=#{dictDid,jdbcType=VARCHAR}</if>
        <if test="CTime!=null"> and cTime=#{CTime,jdbcType=TIMESTAMP}</if>
      </trim>
    </where>
  </sql>

  <!-- 新增 对应关系 -->
  <insert id="insert" parameterType="java.util.Map">
    insert into wt_ResDict_Ref
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id!=null">id,</if>
      <if test="refName!=null">refName,</if>
      <if test="resTableName!=null">resTableName,</if>
      <if test="resId!=null">resId,</if>
      <if test="dictMid!=null">dictMid,</if>
      <if test="dictDid!=null">dictDid,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id!=null">#{id,jdbcType=VARCHAR},</if>
      <if test="refName!=null">#{refName,jdbcType=VARCHAR},</if>
      <if test="resTableName!=null">#{resTableName,jdbcType=VARCHAR},</if>
      <if test="resId!=null">#{resId,jdbcType=VARCHAR},</if>
      <if test="dictMid!=null">#{dictMid,jdbcType=VARCHAR},</if>
      <if test="dictDid!=null">#{dictDid,jdbcType=VARCHAR},</if>
    </trim>
  </insert>

  <!-- 修改 根据主键-->
  <update id="update" parameterType="java.util.Map">
    update wt_ResDict_Ref
    <set>
      <if test="refName!=null">refName=#{refName,jdbcType=VARCHAR},</if>
      <if test="resTableName!=null">resTableName=#{resTableName,jdbcType=VARCHAR},</if>
      <if test="resId!=null">resId=#{resId,jdbcType=VARCHAR},</if>
      <if test="dictMid!=null">pId=#{dictMid,jdbcType=VARCHAR},</if>
      <if test="dictDid!=null">dictDid=#{dictDid,jdbcType=VARCHAR},</if>
      <if test="CTime=null">cTime=#{CTime,jdbcType=TIMESTAMP},</if>
    </set>
    where id=#{id,jdbcType=VARCHAR}
  </update>

  <!-- 看是否有关联 -->
  <select id="existRefDict" parameterType="java.lang.String" resultType="java.lang.Integer">
    select count(*) from wt_ResDict_Ref where ${value}
  </select>

  <!-- 获得列表 -->
  <select id="getList" parameterType="java.util.Map" resultMap="dictRefResMap">
    select <include refid="Base_Column_List"/> from wt_ResDict_Ref
    <if test="_parameter!=null"><include refid="WhereClauseByEntiey"/>
    <if test="orderByClause!=null">order by ${orderByClause}</if>
    </if>
  </select>
  <select id="getListByResIds" resultMap="dictRefResMap" parameterType="java.util.Map">
    select <include refid="Base_Column_List"/> from wt_ResDict_Ref
    where resTableName=#{resTableName,jdbcType=VARCHAR} and resId in (${resIds})
    <if test="orderByClause!=null">order by ${orderByClause}</if>
  </select>
  
  <select id="getListByResId" resultMap="dictRefResMap" parameterType="java.util.Map">
    select <include refid="Base_Column_List"/> from wt_ResDict_Ref where resId=#{resId,jdbcType=VARCHAR}
  </select>

  <!-- 获得一条数据 -->
  <select id="getInfo" resultMap="dictRefResMap" parameterType="java.util.Map">
    select <include refid="Base_Column_List"/> from wt_ResDict_Ref <if test="_parameter!=null"><include refid="WhereClauseByEntiey"/></if>
  </select>
  <select id="getInfoById" resultMap="dictRefResMap" parameterType="java.lang.String">
    select <include refid="Base_Column_List"/> from wt_ResDict_Ref where id=#{id,jdbcType=VARCHAR}
  </select>

  <!-- 删除数据 -->
  <delete id="multiDelBc" parameterType="java.lang.String">
    delete from wt_ResDict_Ref where resId in (${value}) and resTableName='wt_Broadcast'
  </delete>
  <delete id="multiDelByResId" parameterType="java.lang.String">
    delete from wt_ResDict_Ref where resId=#{resId,jdbcType=VARCHAR}
  </delete>
  <delete id="delByDicts" parameterType="java.lang.String">
    delete from wt_ResDict_Ref where ${value}
  </delete>
</mapper>