<?xml version="1.0" encoding="UTF-8" ?>

<!--
  电台直播流
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BC_LF">
  <!-- 对象定义:元数据模式 -->
  <resultMap id="BaseResultMap" type="bc_liveflow">
    <id     column="id"         property="id"         jdbcType="VARCHAR"/>
    <result column="bcId"       property="bcId"       jdbcType="VARCHAR"/>
    <result column="bcSrcType"  property="bcSrcType"  jdbcType="INTEGER"/>
    <result column="bcSrcId"    property="bcSrcId"    jdbcType="VARCHAR"/>
    <result column="bcSource"   property="bcSource"   jdbcType="VARCHAR"/>
    <result column="flowURI"    property="flowURI"    jdbcType="VARCHAR"/>
    <result column="isMain"     property="isMain"     jdbcType="INTEGER"/>
    <result column="descn"      property="desc"       jdbcType="VARCHAR"/>
    <result column="cTime"      property="CTime"      jdbcType="TIMESTAMP"/>
  </resultMap>

  <!-- 所有列 -->
  <sql id="Base_Column_List">
    id, bcId, bcSrcType, bcSrcId, bcSource, flowURI, isMain, descn, cTime 
  </sql>
  <sql id="Base_Column_List_A">
    a.id, a.bcId, a.bcSrcType, a.bcSrcId, a.bcSource, a.flowURI, a.isMain, a.descn, a.cTime 
  </sql>

  <!-- 条件子句 -->
  <sql id="WhereClauseByEntiey">
    <where>
      <trim prefix="(" suffix=")" prefixOverrides="and">
        <if test="id!=null"> and id=#{id,jdbcType=VARCHAR}</if>
        <if test="bcId!=null"> and bcId=#{bcId,jdbcType=VARCHAR}</if>
        <if test="bcSrcType!=null and bcSrcType!=0"> and bcSrcType=#{bcSrcType,jdbcType=INTEGER}</if>
        <if test="bcSrcId!=null"> and bcSrcId=#{bcSrcId,jdbcType=VARCHAR}</if>
        <if test="bcSource!=null"> and bcSource=#{bcSource,jdbcType=VARCHAR}</if>
        <if test="flowURI!=null"> and flowURI=#{flowURI,jdbcType=VARCHAR}</if>
        <if test="isMain!=null"> and isMain=#{isMain,jdbcType=INTEGER}</if>
        <if test="desc!=null"> and descn=#{desc,jdbcType=VARCHAR},</if>
        <if test="CTime!=null"> and cTime=#{CTime,jdbcType=TIMESTAMP}</if>
      </trim>
    </where>
  </sql>
  <sql id="WhereClauseByEntiey_A">
    <trim prefix="(" suffix=")" prefixOverrides="and">
        <if test="id!=null"> and a.id=#{id,jdbcType=VARCHAR}</if>
        <if test="bcId!=null"> and a.bcId=#{bcId,jdbcType=VARCHAR}</if>
        <if test="bcSrcType!=null and bcSrcType!=0"> and a.bcSrcType=#{bcSrcType,jdbcType=INTEGER}</if>
        <if test="bcSrcId!=null"> and a.bcSrcId=#{bcSrcId,jdbcType=VARCHAR}</if>
        <if test="bcSource!=null"> and a.bcSource=#{bcSource,jdbcType=VARCHAR}</if>
        <if test="flowURI!=null"> and a.flowURI=#{flowURI,jdbcType=VARCHAR}</if>
        <if test="isMain!=null"> and a.isMain=#{isMain,jdbcType=INTEGER}</if>
        <if test="desc!=null"> and a.descn=#{desc,jdbcType=VARCHAR},</if>
        <if test="CTime!=null"> and a.cTime=#{CTime,jdbcType=TIMESTAMP}</if>
    </trim>
  </sql>

  <!-- 获得记录条数-->
  <select id="count" parameterType="java.util.Map" resultType="java.lang.Integer">
    select count(*) from wt_BCLiveFlow <if test="_parameter!=null"><include refid="WhereClauseByEntiey"/></if>
  </select>

  <!-- 获得列表 -->
  <select id="getList" resultMap="BaseResultMap" parameterType="java.util.Map">
    select <include refid="Base_Column_List"/> from wt_BCLiveFlow
    <if test="_parameter!=null"><include refid="WhereClauseByEntiey"/>
    <if test="orderByClause!=null">order by ${orderByClause}</if>
    </if>
  </select>

  <!-- 获得一条数据 -->
  <select id="getInfo" resultMap="BaseResultMap" parameterType="java.util.Map">
    select <include refid="Base_Column_List"/> from wt_BCLiveFlow <if test="_parameter!=null"><include refid="WhereClauseByEntiey"/></if>
  </select>
  <select id="getInfoById" resultMap="BaseResultMap" parameterType="java.lang.String">
    select <include refid="Base_Column_List"/> from wt_BCLiveFlow where id=#{id,jdbcType=VARCHAR}
  </select>
  <select id="getInfoByBcId" resultMap="BaseResultMap" parameterType="java.lang.String">
    select <include refid="Base_Column_List"/> from wt_BCLiveFlow where bcId=#{bcId,jdbcType=VARCHAR}
  </select>

  <!-- 新增数据 -->
  <insert id="insert" parameterType="java.util.Map">
    insert into wt_BCLiveFlow
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id!=null">id,</if>
      <if test="bcId!=null">bcId,</if>
      <if test="bcSrcType!=null and bcSrcType!=0">bcSrcType,</if>
      <if test="bcSrcId!=null">bcSrcId,</if>
      <if test="bcSource!=null">bcSource,</if>
      <if test="flowURI!=null">flowURI,</if>
      <if test="isMain!=null">isMain,</if>
      <if test="desc!=null">descn,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id!=null">#{id,jdbcType=VARCHAR},</if>
      <if test="bcId!=null">#{bcId,jdbcType=VARCHAR},</if>
      <if test="bcSrcType!=null and bcSrcType!=0">#{bcSrcType,jdbcType=VARCHAR},</if>
      <if test="bcSrcId!=null">#{bcSrcId,jdbcType=VARCHAR},</if>
      <if test="bcSource!=null">#{bcSource,jdbcType=VARCHAR},</if>
      <if test="flowURI!=null">#{flowURI,jdbcType=INTEGER},</if>
      <if test="isMain!=null">#{isMain,jdbcType=INTEGER},</if>
      <if test="desc!=null">#{desc,jdbcType=INTEGER},</if>
    </trim>
  </insert>

  <!-- 修改 根据主键-->
  <update id="update" parameterType="java.util.Map">
    update wt_BCLiveFlow
    <set>
      <if test="bcId!=null">bcId=#{bcId,jdbcType=VARCHAR},</if>
      <if test="bcSrcType!=null and bcSrcType!=0">bcSrcType=#{bcSrcType,jdbcType=VARCHAR},</if>
      <if test="bcSrcId!=null">bcSrcId=#{bcSrcId,jdbcType=VARCHAR},</if>
      <if test="bcSource!=null">bcSource=#{bcSource,jdbcType=VARCHAR},</if>
      <if test="flowURI!=null">flowURI=#{flowURI,jdbcType=VARCHAR},</if>
      <if test="isMain!=null">isMain=#{isMain,jdbcType=VARCHAR},</if>
      <if test="desc!=null">descn=#{desc,jdbcType=VARCHAR},</if>
      <if test="CTime=null">cTime=#{CTime,jdbcType=TIMESTAMP},</if>
    </set>
    where id=#{id,jdbcType=VARCHAR}
  </update>

  <!-- 删除数据 -->
  <delete id="delete" parameterType="java.lang.String">
    delete from wt_BCLiveFlow where id=#{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByEntity" parameterType="java.util.Map">
    delete from wt_BCLiveFlow <if test="_parameter!=null"><include refid="WhereClauseByEntiey"/></if>
  </delete>
  <delete id="multiDelBc" parameterType="java.lang.String">
    delete from wt_BCLiveFlow where bcId in (${value})
  </delete>
</mapper>