<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MOBILE_USED">
  <!-- 对象定义:手机用户使用 -->
  <resultMap id="BaseResultMap" type="MobileUsed">
    <id      column="roleId"       property="roleId"     jdbcType="VARCHAR"/>
    <result  column="roleName"     property="roleName"   jdbcType="VARCHAR"/>
    <result  column="roleType"     property="roleType"   jdbcType="INTEGER"/>
    <result  column="desc"         property="descn"      jdbcType="VARCHAR"/>
    <result  column="funName"      property="funName"    jdbcType="INTEGER"/>
    <result  column="funClass"     property="funClass"   jdbcType="TIMESTAMP"/>
    <result  column="funType"      property="funType"    jdbcType="TIMESTAMP"/>
    <result  column="funFlag1"     property="funFlag1"   jdbcType="TIMESTAMP"/>
    <result  column="funFlag2"     property="funFlag2"   jdbcType="TIMESTAMP"/>
    <result  column="cTime"        property="cTime"      jdbcType="TIMESTAMP"/>
  </resultMap>
</mapper>