<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="A_KEYWORDRES">
  <!-- 对象定义:元数据模式 -->
  <resultMap id="BaseResultMap" type="keywordres">
    <id     column="id"           property="id"           jdbcType="VARCHAR"/>
    <result column="refName"      property="refName"      jdbcType="VARCHAR"/>
    <result column="kwId"         property="kwId"         jdbcType="VARCHAR"/>
    <result column="resTableName" property="resTableName" jdbcType="VARCHAR"/>
    <result column="resId"        property="resId"        jdbcType="VARCHAR"/>
    <result column="cTime"        property="cTime"        jdbcType="TIMESTAMP"/>
  </resultMap>

  <!-- 所有列 -->
  <sql id="Base_Column_List">
    id, refName, kwId, resTableName, resId, cTime
  </sql>

  <!-- 条件子句 -->
  <sql id="WhereClauseByEntiey">
    <where>
      <trim prefix="(" suffix=")" prefixOverrides="and">
        <if test="id!=null">and id=#{id,jdbcType=VARCHAR}</if>
        <if test="refName!=null">and refName=#{refName,jdbcType=VARCHAR}</if>
        <if test="kwId!=null">and kwId=#{kwId,jdbcType=VARCHAR}</if>
        <if test="resTableName!=null">and resTableName=#{resTableName,jdbcType=VARCHAR}</if>
        <if test="resId!=null">and resId=#{resId,jdbcType=VARCHAR}</if>
        <if test="cTime!=null">and cTime=#{cTime,jdbcType=TIMESTAMP}</if>
      </trim>
    </where>
  </sql>
  
  <insert id="insertKwResList" parameterType="map">
    insert into wt_Kw_Res(id, refName, kwId, resTableName, resId, cTime) values
      <foreach collection="list" item="list" index="index" separator=",">
       (#{list.id},#{list.refName},#{list.kwId},#{list.resTableName},#{list.resId},#{list.cTime})
      </foreach>
  </insert>
  
</mapper>