@charset "utf-8";
/**
 * 内容管理-实际操作区：主显示区域
 */

/*一、主显示*/
.mainArea {/*主显示区域*/
  height:calc(100% - 40px);
  width:100%;
  position:absolute;
  overflow:auto;
}

/*二、左侧列表*/
.leftlistArea {/*左侧列表区域样式*/
  position:absolute;
  left:0;
  top:0;
  width:420px;
  height:100%;
  border-right:1px solid #ccc;
  overflow:hidden;
  padding-bottom:30px;
}
.leftlistArea .cntList {/*列表内容样式*/
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:calc(100% - 43px);
  border:1px solid blue;
  overflow:auto;
}
.page {/*翻页控制*/
  position:absolute;
  left:0;
  bottom:0;
  height:43px;
  width:100%;
}