*{margin: 0;padding: 0;}
li{list-style: none;}
a,a:hover,a:link,a:focus,a:visited{text-decoration: none;}
::-webkit-scrollbar {height:12px;width:2px;background:#e7eaec; } 
::-webkit-scrollbar-thumb{height:12px;width:2px;background:#e7eaec;}
body{overflow: auto;background:#fff;-moz-user-select: none;}
.detail{
  width:1084px;
  min-width:850px;
  height:auto;
  margin:auto;
  border:1px solid #dedede;
}
.detail_title{
  width: 100%;
  height: 30px;
  color: #000;
  font-size: 14px;
  margin-top: 20px;
  padding-left:20px;
}
.detail_content{
  width:100%;
  height:490px;
  overflow: auto;
}
.dc_left{
  width:250px;
  height:calc(100% - 50px);
  float: right;
  margin-right:20px;
  margin-top:10px;
  border:1px solid #dedede;
}
.dc_left h3{
  text-align: center;
}
.dc_left .dcl_pic{
  width:195px;
  height:400px;
  margin:10px auto;
  background: url("../img/phone.png") no-repeat;
  background-size:100% 100%;
}
.h6_div{
  width:120px;
  height:20px;
  position: absolute;
  top:190px;
  margin-left:35px;
}
.h6_div h6{
  width:auto;
  height:20px;
  line-height:20px;
  margin-top:0px;
  margin-bottom:0px;
  color:#000;
  text-align: center;
  white-space:nowrap; 
  overflow:hidden; 
  text-overflow:ellipsis;
}
.dc_left .dcl_pic .phone_pic1{
  width:68px;
  height:68px;
  position: absolute;
  top:220px;
  margin-left:65px;
  background-size:100% 100%;
}
.dc_left .dcl_pic .phone_pic2{
  position: absolute;
  top:247px;
  margin-left:95px;
  z-index:10;
  cursor: pointer;
}
.dc_left .dcl_pic .phone_pic3{
  position: absolute;
  top:220px;
  margin-left:65px;
}
.dc_right{
  width:100%;
  height:350px;
  float: left;
  margin-top:10px;
  border: 1px solid #dedede;
}
.dc_right_bottom{
  width:100%;
  height:50px;
  float: left;
  margin-top:30px;
  border:1px solid #dedede;
}
.dcr_jmcontent{
  position: relative;
  height:auto;
  padding: 20px 0px 0px 0px;
  overflow: hidden;
}
.dcr_jmcontent1{
  float: left;
  width: 178px;
  height: 178px;
  border: 1px solid #dedede;
  margin-left:20px;
}
.dcr_jmcontent1 img{
  width:100%;
  height:100%;
  background-size:100% 100%;
  -ms-interpolation-mode:bicubic;  
}
.dcr_jmcontent2{
  float:right;
  overflow: hidden;
  width:calc(100% - 225px);
  height:auto;
}
.dcr_jmcontent2 h3{
  width:auto;
  display: inline-block;
  font-size: 20px;
  color:#000;
  font-family: "微软雅黑";
}
.h3span{
  color:#ffa634;
  font-size:14px;
  font-weight:100;
}
.act{
  width:auto;
  height:30px;
  line-height: 30px;
  overflow: hidden;
}
.act li{
  float:left;
  margin-left:40px;
  cursor: pointer;
}
.act li:first-child{
  margin-left:0px;
}
.dcr_jmdesc{
  width:calc(100% - 20px);
  position: relative;
  float: left;
  margin-left:20px;
}
.dcr_jmcontent2 p{
  font-size:14px;
  margin-top:7px;
}
.dcr_jmcontent2 p span{
  font-size:15px;
  color:#000;
  font-weight: 800;
  font-family: "微软雅黑";
}
.dcr_jmcontent2 ul{
  overflow: hidden;
}
.newli{
  height: 27px;
  line-height: 27px;
  background: url("../img/auto.png");
  background-position: 0 -118px;
  padding:0px 0px 0px 15px;
  float: left;
  position: relative;
  margin:5px 8px 0px 0px;
  display: inline-block;
  cursor: pointer;
}
.newspan{
  background: url("../img/auto.png");
  background-position:right -118px;
  padding-right:8px;
  display: inline-block;
  vertical-align: top !important;
  white-space: nowrap;
  line-height: 27px;
}
.dcr_jmdesc .dcr_jmdesc_p1{
  color:#000;
  font-size:14px;
  lien-height:25px;
  padding: 10px 0px 0px 0px;
}
.dc_right1{
  width:770px;
  float: left;
  position: absolute;
  height:auto;
  margin-left:20px;
}
.dctb1{
  width:48px;
  height:48px;
  background-size:100% 100%;
  float: left;
  cursor: pointer;
}
.dctb2,.dctb3{
  width:48px;
  height:48px;
  float: left;
  line-height:48px;
}
.dctb2{
  margin-left:15px;
}
.dctb3{
  margin-left:608px;
  margin-top:0px;
}
.line1{
  width:600px;
  height:5px;
  position: absolute;
  margin-top:23px;
  left:115px;
  background:rgba(248,193,89,0.54);
}
.line2{
  /*width:325px;*/
  height:5px;
  position: absolute;
  margin-top:23px;
  left:115px;
  background:#FFA634;
}
.circle{
  width: 15px;
  height: 15px;
  background: #ffa634;
  float: left;
  position: absolute;
  margin-top:17px;
  left: 100px;
  border-radius: 15px;
}