*{margin:0;padding: 0;}
li{list-style: none;}
input,textarea{
  padding: 0 10px;
}
*{margin: 0;padding: 0;}
li{list-style: none;}
a,a:hover,a:link,a:focus,a:visited{text-decoration: none;}
::-webkit-scrollbar {height:12px;width:2px;background:#e7eaec; } 
::-webkit-scrollbar-thumb{height:12px;width:2px;background:#e7eaec;}
body{height:100%;overflow:auto;background: #fff;-moz-user-select: none;}
.detail{
  position: relative;
  width: 100%;
  min-width: 1080px;
  border: 1px solid #dedede;
}
.fl{float: left;}
.detail_title{
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #000;
  font-size: 14px;
  float: left;
}
.my_title{
  height: 50px;
  line-height: 50px;
  color: #000;
  font-size: 14px;
  font-weight: bold;
}
.detail_content{
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}
.dc_left1{
  position: relative;
  width: 710px;
  height: calc(100% - 10px);
  float: left;
  margin: 0px 0px 0px 20px;
}
.dc_left{
  position: relative;
  width:700px;
  height:calc(100% - 10px);
  float: left;
}
.dcl_zjcontent {
  width:100%;
  padding: 0px 0px 10px 20px;
  position: relative;
  border: 1px solid #dedede;
  overflow: hidden;
}
.dcl_zjcontent12{
  overflow: hidden;
  height: auto;
  margin-bottom: 20px;
}
.dcl_zjcontent1{
  float: left;
  width: 180px;
  height: 180px;
  position: relative;
  margin-top: 20px;
  border: 1px solid #dedede;
}
.dcr_zjlist1:first-child{
  margin-top:20px;
}
.dcl_zjcontent1 img{
  width:100%;
  height:100%;
  background-size:100% 100%;
  -ms-interpolation-mode:bicubic;  
}
.dcl_zjcontent2{
  float:right;
  overflow: hidden;
  width:calc(100% - 205px);
  height:auto;
  margin-top:20px;
}
.dcl_zjcontent2 h3{
  width:auto;
  height: 30px;
  line-height: 30px;
  color: #000;
  font-weight: bolder;
  font-size: 18px;
  display: inline-block;
  font-family: "微软雅黑";
  margin: 0px;
}
.h3span{
  color:#ffa634;
  font-size:14px;
  font-weight:100;
}
.title{
  margin: 0px 0px 10px 0px;
}
.ch,.tg{
  line-height: 30px;
  font-size: 14px;
  overflow: hidden;
  margin: 0px 0px 10px 0px;
}
.dcl_zjcontent2 ul {
  overflow: hidden;
  margin-bottom: 0px;
}
.dcl_zjcontent2 .category{
  color:#000;
  font-size:14px;
  font-weight:100;
  display: inline-block;
}
.formChannel{
  font-size: 15px;
  color: #000;
  font-weight: 800;
  font-family: "微软雅黑";
}
.ctimes{
  margin: 0px;
  height: 30px;
  line-height: 30px;
}
.cctimes{
  font-weight: normal;
  color: #676a6c;
}
.tg1 li{
  height: 27px;
  line-height: 27px;
  background: url("../img/auto.png");
  background-position: 0 -118px;
  padding:0px 0px 0px 15px;
  float: left;
  position: relative;
  margin:0px 8px 0px 0px;
  display: inline-block;
  cursor: pointer;
}
.tg1 li span{
  background: url("../img/auto.png");
  background-position:right -118px;
  padding-right:8px;
  display: inline-block;
  vertical-align: top !important;
  white-space: nowrap;
  line-height: 27px;
}
.dcl_zjcontent3 {
  width: 100%;
  font-family: "微软雅黑";
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  float: left;
}
.dcl_zj_jmlist{
  width:100%;
  height:auto;
  position: relative;
  float: left;
  margin-top:30px;
}
.list_title{
  height:32px;
  border-bottom:1px dotted #000;
}
.content-tabs{
  height: 30px;
  background: #fff;
  border-bottom: solid 0px #f3f3f4;
}
.content-tabs button:hover {
  background: #fff;
}
.list_title h4{
  color:#000;
  float: left;
  padding-left:20px;
  height:32px;
  font-size:15px;
  margin-top:0px;
  line-height:32px;
}
.list_title_span{
  color: #000;
  font-weight: bolder;
  float: left;
  height:30px;
  line-height:30px;
  font-size:15px;
  cursor: pointer;
  width:100px;
  text-align: center;
  margin-left:10px;
}
.jm_states{
  position: relative;
  float: left;
  width: 110px;
  font-weight: bolder;
  color: #000;
  font-size: 15px;
  margin-left:50%;
  display: block !important;
}
.zj_jmlist {
  width: 100%;
  position: absolute;
  height: 200px;
  border: 1px solid #00458A;
}
.list_content{
  width:100%;
  height:auto;
  overflow: hidden;
}
.list_content1{
  height:25px;
  line-height:25px;
  border-bo533
  ttom:1px solid #676a6c;
  overflow: hidden;
}
.list_content1_a,.list_content1_span1,
.list_content1_span2,
.list_content1_span3,
.list_content1_img{
  float: left;
  width:auto;
  display: inline-block;
  font-size:12px;
  font-family: "微软雅黑";
}
.list_content1_a,.list_content1_a:hover{
  color: #000;
  font-family: "微软雅黑";
  padding-left:20px;
  width:290px;
}
.playcount{
  position: absolute;
}
.list_content1_span1{
  padding-left:0px;
}
.list_content1_span2,.list_content1_span3{
  margin-left:25px;
}
.dc_right1{
  width:285px;
  float: left;
  margin-right: 20px;
  margin-left: 30px;
}
.dc_right{
  width:300px;
  overflow: auto;
  border:1px solid #dedede;
}
.dcr_zjlist{
  overflow: auto;
}
.dcr_zjlist1{
  margin: 10px 10px 0px 10px;
  height: 100px;
  border-bottom: 2px solid #dedede;
}
.dcr_zjlist1:last-child{
  border-bottom: none;
}
.list1_img{
  width:80px;
  height:80px;
  float: left;
  display: inline-block;
  border:1px solid #dedede;
  cursor: pointer;
}
.list1_img img{
  width:100%;
  height:100%;
  background-size:100% 100%;
}
.list1_con{
  width:195px;
  float: left;
  padding-left:10px;
}
.zjname{
  margin-bottom: -4px;
  width: 113px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.rtc_listBox{
  width:97%;
  height:110px;
  border-bottom:1px solid #dedede;
  position:relative;
  font-family: "微软雅黑";
  font-size:14px ;
  overflow: hidden;
}
.rtcl_img{
  height:80px;
  width:80px;
  margin-top:15px;
  margin-right:10px;
  border:1px solid #dedede;
  float: left;
  cursor: pointer;
}
.rtcl_img img{
  width:100%;
  height:100%;
  background-size:100% 100%;
}
.rtcl_con{
  height:100%;
  width:295px;
  overflow: hidden;
  float: left;
  color:rgb(173,172,172);
}
.rtcl_con h4{
  margin-top:20px;
  color:#000;
}
.jm_st{
  float: left;
  width:100px;
  line-height: 110px;
  width:100px;
  color:#000;
  text-align: center;
}
.op_type{
  float: left;
  margin-left:10px;
  width:100px;
  text-align: center;
}
.op_type p{
  cursor: pointer;
  margin:5px 0px 0px 0px;
}
.cf60{
 color:#f60; 
}
.c173{
  color:rgb(173,172,172);
}
.dropdown-menu{
  min-width:110px !important;
}
.rt_opt{
  height:50px;
  background:rgb(252,244,234);
  overflow: hidden;
}
.rto_check{
  margin:15px 10px 15px 20px;
  width:18px;
  height:18px;
  cursor: pointer; 
}
.rto_txt{
  font-size: 16px;
  position: relative;
  top:14px;
  color: #FFA634;
}
.rto_delete,.rto_revoke,.rto_submit{
  margin-left:20px;
  width:85px;
  height:30px;
  background: #ddd;
  color: #000;
  cursor: pointer;
  margin-top:10px;
  border:none;
  text-align: center;
  line-height:30px;
}
.ri_top_li2_inp{
  width: 190px;
  height: 30px;
  font-size: 14px;
  padding-left: 6px;
  margin-left:20px;
  margin-top:10px;
}
.ri_top_li2_img{
  position: absolute;
  top: 15px;
  right: 110px;
  width: 18px;
  height: 18px;
  background-size: 100% 100%;
}
.ric_img_check {
  width: 18px;
  height: 18px;
  margin: 44px 20px;
  cursor: pointer;
}
.rtcl_img {
  height: 80px;
  width: 80px;
  margin-top: 15px;
  margin-right: 10px;
  border: 1px solid #dedede;
  float: left;
  cursor: pointer;
}
.rtcl_img img {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
}
#kkpager{
 padding:10px 0px; 
}
.infoTextAndGoPageBtnWrap{
  width:240px !important;
}
/*遮罩层--弹出层*/
.mask_zj,.mask_jm{
  width:100%;
  height:100%;
  position: fixed;
  top:0px;
  left:0px;
  background:rgba(0,0,0,0.5);
  overflow-y: auto;
  display: none;
}
.add_zj,.add_jm{
  width:100%;
  height:auto;
  font-family: "微软雅黑";
  position: relative;
  margin:10px auto;
}
.mask_gif{
  width: 100px;
  height: 100px;
  position: relative;
  background: rgba(0,0,0,0.6);
  display: none;
}
.mask_gif img{
  width: 25px;
  height: 25px;
  position: relative;
  margin-top: -120px;
  margin-left: 32px;
}
.form-horizontal .form-group {
  margin-left: 0px !important;
  margin-right: 0px !important;  
} 
.ibox{
  margin-bottom:0px !important;
}
.iboxtitle{
  background: #fff;
  padding:9px 15px 7px;
}
.iboxtitle h4{
  font-size:16px;
  color:#000;
  float: left;
}
.iboxtitle .ibox-tools{
  padding:4px;
}
.iboxtitle .ibox-tools a{
  color:#000;
}
.form-group{
  margin-top:40px !important;
}
.control-label{
  font-size:16px;
  color:#000;
  text-align: center;
  width:auto !important;
  padding-left:18px;
}
.control-label .ast{
  color: #ffa634;
}
.upl_wj{
  width:100px;
  height: 35px;
  float: left;
  cursor: pointer;
}
.upl_wj_img{
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
}
.upl_wj_p1{
  float: left;
  font-size: 12px;
  margin-left: 0px;
  margin-top:6px;
  color: red;
}
.upl_wj_p1 span{
  color:#000;
}
.upl_yp{
  width:calc(100% - 110px);
  height:35px;
  margin-left:10px;
  float: left;
  border:1px solid #dedede;
  overflow: hidden;
}
.upl_yp .yp_mz{
  width:120px;
  height:35px;
  border: transparent;
  float:left;
  line-height:35px;
}
.parentProgress{
  margin-top: 6px;
  border:2px solid #ffa634;
  margin-left: 10px;
  width:220px;
  height:18px;
  float: left;
  border-radius:7px;
  display: none;
}
.sonProgress{
  width:0; 
  height:100%;
  background-color:#ffa634; 
  text-align:center; 
  line-height:14px; 
  font-size:16px; 
  color:#fff;
  font-weight:bold;
}
.uploadStatus{
  width:49px;
  margin-bottom: 30px;
  line-height: 30px;
  float: left;
  margin-left: 16px;
  font-size: 12px;
  display: none;
}
.upl_yp img{
  width: 15px;
  height: 15px;
  margin-top: 9px;
  margin-left: 10px;
  display: inline-block;
  display: none;
  cursor: pointer;
}
.upl_mc input{
  width: 100%;
  height: 35px;
  color:#000;
  border: 1px solid #dedede;
}
.upl_mc P{
  color:#0009;
  font-size:12px;
}
.upl_pt{
  overflow: hidden;
}
.upl_pt .previewImg{
  width:100px;
  height:100px;
  float: left;
  border:1px solid #dedede;
}
.upl_pt .previewImg img{
  width:100%;
  height:100%;
  background-size:100% 100%;
}
.upl_pt .upl_pt_img{
  margin-left:10px;
  margin-top:20px;
  float: left;
  cursor: pointer;
}
.img_uploadStatus{
  position: absolute;
  margin-left:230px;
  margin-top:23px;
  float: left;
  display: none;
  cursor: pointer;
}
.upl_pt p{
  position: absolute;
  margin-left:-100px;
  margin-top:60px;
  display: inline-block;
  float: left;
}
.upl_zj{
  width:315px;
  height:30px;
  margin-top:5px;
  padding-left:7px;
  border:1px solid #dedede;
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  background: url("../img/upl_img4.png") no-repeat scroll right center transparent;
  padding-right: 14px;
}
.tag_box{
  width:100%;
  height: auto;
  border:1px solid #dedede;
}
.upl_bq{
  width:100%;
  height:auto;
  margin-bottom:0;
  overflow: hidden;
}
.upl_bq .upl_bq_img{
  height: 27px;
  line-height: 27px;
  background: url("../img/auto.png");
  background-position: 0 -118px;
  padding: 0px 0px 0px 15px;
  float: left;
  position: relative;
  margin: 10px 8px 0px 0px;
  display: inline-block;
  cursor: pointer;
}
.upl_bq .upl_bq_img span{
  background: url("../img/auto.png");
  background-position: right -118px;
  padding-right: 8px;
  display: inline-block;
  vertical-align: top !important;
  white-space: nowrap;
  line-height: 27px;
}
.cancelImg{
  position: absolute;
  top:-8px;
  right:-5px;
  display: none;
}
.input_tag .tag_txt{
  width:100%;
  height:35px;
  border:none;
}
.my_tag,.gg_tag{
  width:100%;
  height：100px;
  border:1px solid #dedede;
}
.my_tag h5,.gg_tag h5{
  font-family: "微软雅黑";
  color:#adacac;
  font-weight: bolder;
  width:auto;
  display: inline-block;
  margin-left:15px;
}
.my_tag_con,.gg_tag_con{
  height: auto;
  cursor: pointer;
  overflow: hidden;
}
.my_tag_con1,.gg_tag_con1{
  float: left;
  margin-left:15px;
  padding-top:5px;
}
.my_tag_con1_check,.gg_tag_con1_check{
  width:13px;
  height:13px;
  border:1px solid #dedede;
  cursor: pointer;
}
.my_tag_con1_span,.gg_tag_con1_span{
  color:#adacac;
}
.my_tag .hyp,.gg_tag .hyp{
  position: absolute;
  margin-left:5%;
  margin-top:2px;
  color:#0064B6;
  cursor: pointer;
}
.upl_desc textarea{
  width: 100%;
  height: 100px;
  color:#000;
  border: 1px solid #dedede;
}
.laydate_body .laydate_box,
.laydate_body .laydate_bottom input{
  color:#ffa634 !important;
}
.laydate_body .laydate_top {
  border-top: 1px solid #ffa634 !important;
  background-color: #ffa634 !important;
}
.laydate_body .laydate_ym {
  border: 1px solid #ffa634 !important;
  background-color: #ffa634 !important;
}
.laydate_body .laydate_box a, 
.laydate_body .laydate_box a:hover {
  color: #ffa634 !important;
}
.laydate_body .laydate_chprev {
  border-right: 1px solid #fff !important;
}
.laydate_body .laydate_chnext {
    border-left: 1px solid #fff !important;
}
.laydate_body .laydate_m .laydate_yms span:hover,
.laydate_body .laydate_time .laydate_hmsno span:hover, 
.laydate_body .laydate_y .laydate_yms ul li:hover, 
.laydate_body .laydate_table td:hover,
.laydate_body .laydate_click :active{
  background-color: #ffa634 !important;
}
.laydate_body .laydate_table td {
  color: #000 !important;
}
.laydate_body .laydate_table .laydate_nothis {
  color: #999 !important;
}
.laydate_body .laydate_ym .laydate_yms {
  border: 1px solid #ffa634 !important;
  background-color: #ffa634 !important;
}
.laydate_body .laydate_y .laydate_yms a {
  border-bottom: 1px solid #fff !important;
}
.laydate_body .laydate_y .laydate_yms .laydate_chdown {
  border-top: 1px solid #fff !important;
}
.laydate_body .laydate_choose:hover, 
.laydate_body .laydate_y .laydate_yms a:hover {
  background-color: #ffaf34 !important;
}
#laydate_box .laydate_click {
  background-color: #ffaf34 !important;
  color: #fff!important;
}
.form-group .btn_group{
  overflow: hidden;
  width:300px;
  margin:auto;
}
.form-group .pub,
.form-group .submit,
.form-group .cancel{
  width:70px;
  height:30px;
  color:#fff;
  border-radius:0;
  padding:0;
  float: left;
  margin-left:25px;
  background: #ffa634;
  border:none;
  border-radius:6px;
}
.upl_czfs{
  width:100%;
  height:auto;
  border:1px solid #dedede;
}
.upl_czfs .czfs_tag{
  width:100%;
  height:auto;
  border-bottom:1px solid #dedede;
  overflow: hidden;
}
.upl_czfs .czfs_tag .czfs_tag_li{
  height: 27px;
  line-height: 27px;
  background: url("../img/auto.png");
  background-position: 0 -118px;
  padding: 0px 0px 0px 15px;
  float: left;
  position: relative;
  margin: 9px 8px 3px 0px;
  display: inline-block;
  cursor: pointer;
}
.upl_czfs .czfs_tag li img{
  position: absolute;
  margin-top:0px;
  margin-left:1px;
  cursor: pointer;
}
.czfs_tag_div{
  background: url("../img/auto.png");
  background-position: right -118px;
  padding-right: 8px;
  display: inline-block;
  vertical-align: top !important;
  white-space: nowrap;
  line-height: 27px; 
}
.czfs_div{
  overflow: hidden;
  height:35px;
}
.change_czfs{
  width:150px;
  height:35px;
  padding-left: 7px;
  border:1px solid #dedede;
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  background: url("../img/upl_img4.png") no-repeat scroll right center transparent;
  padding-right: 14px;
  margin-left:10px;
  float: left;
}
.czfs_author_ipt{
  width:37%;
  height:35px;
  border: 1px solid #dedede;
  padding-left:5px;
  float: left;
  margin-left:10px;
}
.upl_czfs p{
  margin-left:10px;
  margin-top:5px;
  width:auto;
}
.czfs_author{
  border: 1px solid #dedede;
  width: 40px;
  position: relative;
  height: 30px;
  margin-top: 5px;
  margin-left: 10px;
  padding: 5px;
  float: left;
  cursor: pointer;
}
.input_tag{
  margin-top:1px;
}
/*翻页样式*/
.ellipsis{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.page {
  width: 300px;
  height:30px;
  margin:10px 0px 0px 50px;
}
.page .pagination {
  display: inline-block;
  margin: 0px;
  border-radius: 4px;
}
.pagination i {
  display: block;
  float: left;
  height:29px;
  width: auto;
  line-height: 30px;
  color: black;
  vertical-align: middle;
  text-align: center;
  padding: 0 2px;
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  background-color: #f3f3f4;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3f3f4), color-stop(100%, #f3f3f4));
  background-image: -webkit-linear-gradient(#f3f3f4, #f3f3f4);
  background-image: linear-gradient(#f3f3f4, #f3f3f4);
}
.pagination span {
  display: block;
  float: left;
  height: 29px;
  width: 50px;
  line-height: 30px;
  color: #0077c7;
  vertical-align: middle;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  background-color: #f3f3f4;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3f3f4), color-stop(100%, #f3f3f4));
  background-image: -webkit-linear-gradient(#f3f3f4, #f3f3f4);
  background-image: linear-gradient(#f3f3f4, #f3f3f4);
}
.gigantic.pagination input {
  width: 55px;
  margin-top: 5px;
  height: 20px;
  font-size: 12px;
  background: white;
  color: black;
  text-align: center;
  padding: 0 2px;
  margin-left: -3px;
  border: 1px solid #ccc;
}
.pagination span.disabled, .pagination span.disabled:hover, .pagination span.disabled:focus, .pagination span.disabled:active {
  background-color: red;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3f3f4), color-stop(100%, #f3f3f4));
  background-image: -webkit-linear-gradient(#f3f3f4, #f3f3f4);
  background-image: linear-gradient(#f3f3f4, #f3f3f4);
  color: #A8A8A8;
  cursor: default;
  text-decoration:none;
}
.cf60{
 color:#f60; 
}
.c173{
  color:rgb(173,172,172);
}
.h40{
  height: 40px;
}
