<?xml version="1.0" encoding="UTF-8" ?>

<!--
  栏目
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="A_CHANNELMAPREF">
  <!-- 对象定义:栏目 -->
  <resultMap id="channelrefMap" type="channelref">
    <id     column="id"           property="id"           jdbcType="VARCHAR"/>
    <result column="channelId"    property="channelId"    jdbcType="VARCHAR"/>
    <result column="srcMid"       property="srcMid"       jdbcType="VARCHAR"/>
    <result column="srcDid"       property="srcDid"       jdbcType="VARCHAR"/>
    <result column="srcName"      property="srcName"      jdbcType="VARCHAR"/>
    <result column="cTime"        property="cTime"        jdbcType="TIMESTAMP"/>
  </resultMap>

  <!-- 所有列 -->
  <sql id="Base_Column_List">
    id, channelId, srcMid, srcDid, srcName, cTime
  </sql>

  <!-- 条件子句 -->
  <sql id="WhereClauseByEntiey">
    <where>
      <trim prefix="(" suffix=")" prefixOverrides="and">
        <if test="id!=null">and id=#{id,jdbcType=VARCHAR}</if>
        <if test="channelId!=null">and channelId=#{channelId,jdbcType=VARCHAR}</if>
        <if test="srcMid!=null">and srcMid=#{srcMid,jdbcType=VARCHAR}</if>
        <if test="srcDid!=null">and srcDid=#{srcDid,jdbcType=VARCHAR}</if>
        <if test="srcName!=null">and srcName=#{srcName,jdbcType=VARCHAR}</if>
        <if test="cTime!=null">and cTime=#{cTime,jdbcType=TIMESTAMP}</if>
      </trim>
    </where>
  </sql>

  <!-- 获得记录条数-->
  <select id="getCount" parameterType="java.util.Map" resultType="java.lang.Integer">
    select count(*) from wt_ChannelMap_Ref <if test="_parameter!=null"><include refid="WhereClauseByEntiey"/></if>
  </select>

  <!-- 获得列表 -->
  <select id="getList" resultMap="channelrefMap" parameterType="java.util.Map">
    select <include refid="Base_Column_List"/> from wt_ChannelMap_Ref
    <if test="_parameter!=null"><include refid="WhereClauseByEntiey"/></if>
    <if test="whereSql!=null"> and ${whereSql}</if>
  </select>

  <!-- 获得一条数据 -->
  <select id="getInfo" resultMap="channelrefMap" parameterType="java.util.Map">
    select <include refid="Base_Column_List"/>from wt_ChannelMap_Ref <if test="_parameter!=null"><include refid="WhereClauseByEntiey"/></if>
  </select>
  <select id="getInfoById" resultMap="channelrefMap" parameterType="java.lang.String">
    select <include refid="Base_Column_List"/>from wt_ChannelMap_Ref where id=#{id,jdbcType=VARCHAR}
  </select>

  <!-- 新增数据 -->
  <insert id="insert" parameterType="java.util.Map">
    insert into wt_ChannelMap_Ref
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id!=null">id,</if>
      <if test="channelId!=null">channelId,</if>
      <if test="srcMid!=null">srcMid,</if>
      <if test="srcDid!=null">srcDid,</if>
      <if test="srcName!=null">srcName,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id!=null">#{id,jdbcType=VARCHAR},</if>
      <if test="channelId!=null">#{channelId,jdbcType=VARCHAR},</if>
      <if test="srcMid!=null">#{srcMid,jdbcType=INTEGER},</if>
      <if test="srcDid!=null">#{srcDid,jdbcType=VARCHAR},</if>
      <if test="srcName!=null">#{srcName,jdbcType=VARCHAR},</if>
    </trim>
  </insert>
  
  <insert id="insertList" parameterType="java.util.List">
    insert into wt_ChannelMap_Ref(id,channelId,srcMid,srcDid,srcName,cTime) values
    <foreach collection="list" item="list" index="index" separator=",">
     (#{list.id},#{list.channelId},#{list.srcMid},#{list.srcDid},#{list.srcName},#{list.cTime})
    </foreach>
  </insert>

  <!-- 修改 根据主键-->
  <update id="update" parameterType="java.util.Map">
    update wt_ChannelMap_Ref
    <set>
      <if test="channelId!=null">channelId=#{channelId,jdbcType=VARCHAR},</if>
      <if test="srcMid!=null">srcMid=#{srcMid,jdbcType=INTEGER},</if>
      <if test="srcDid!=null">srcDid=#{srcDid,jdbcType=VARCHAR},</if>
      <if test="srcName!=null">srcName=#{srcName,jdbcType=VARCHAR},</if>
    </set>
    where id=#{id,jdbcType=VARCHAR}
  </update>

  <!-- 删除数据 -->
  <delete id="delete" parameterType="java.lang.String">
    delete from wt_ChannelMap_Ref where id=#{id,jdbcType=VARCHAR}
  </delete>
  <delete id="delByIds" parameterType="java.util.Map">
    delete from wt_ChannelMap_Ref where ${value}
  </delete>
  <delete id="deleteByEntity" parameterType="java.util.Map">
    delete from wt_ChannelMap_Ref <if test="_parameter!=null"><include refid="WhereClauseByEntiey"/></if>
  </delete>
</mapper>