<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PLAT_APPROVE">
  
  <!-- 对象定义:用户扩展 -->
  <resultMap id="UserExtMap" type="UserExt">
    <id      column="userid"        property="userid"        jdbcType="VARCHAR"/>
    <result  column="reallyName"    property="reallyName"    jdbcType="VARCHAR"/>
    <result  column="iDCard"        property="iDCard"        jdbcType="VARCHAR"/>
    <result  column="frontImg"      property="frontImg"      jdbcType="VARCHAR"/>
    <result  column="reverseImg"    property="reverseImg"    jdbcType="VARCHAR"/>
    <result  column="mixImg"        property="mixImg"        jdbcType="VARCHAR"/>
    <result  column="anchorCardImg" property="anchorCardImg" jdbcType="VARCHAR"/>
    <result  column="cTime"         property="cTime"         jdbcType="TIMESTAMP"/>
  </resultMap>
  
  <!-- 所有列 -->
  <sql id="Base_User_Ext_List">
    userId, reallyName, iDCard, frontImg, reverseImg, mixImg, anchorCardImg, cTime
  </sql>
  
  <!-- 提交认证信息之前先查询数据库中是否已经有用户认证信息-->
  <select id="getApproveCount" parameterType="java.util.Map" resultType="java.lang.Integer">
    select count(userId) from plat_User_Ext
    where userId=#{userId,jdbcType=VARCHAR} or iDCard=#{iDCard,jdbcType=VARCHAR}
  </select>

  <!-- 新增用户认证信息 -->
  <insert id="insertUserExt" parameterType="java.util.Map">
    insert into plat_User_Ext
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId!=null">userId,</if>
      <if test="reallyName!=null">reallyName,</if>
      <if test="iDCard!=null">iDCard,</if>
      <if test="frontImg!=null">frontImg,</if>
      <if test="reverseImg!=null">reverseImg,</if>
      <if test="mixImg!=null">mixImg,</if>
      <if test="anchorCardImg!=null">anchorCardImg,</if>
      <if test="cTime!=null">cTime,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId!=null">#{userId,jdbcType=VARCHAR},</if>
      <if test="reallyName!=null">#{reallyName,jdbcType=VARCHAR},</if>
      <if test="iDCard!=null">#{iDCard,jdbcType=VARCHAR},</if>
      <if test="frontImg!=null">#{frontImg,jdbcType=VARCHAR},</if>
      <if test="reverseImg!=null">#{reverseImg,jdbcType=VARCHAR},</if>
      <if test="mixImg!=null">#{mixImg,jdbcType=INTEGER},</if>
      <if test="anchorCardImg!=null">#{anchorCardImg,jdbcType=CLOB},</if>
      <if test="cTime!=null">#{cTime,jdbcType=TIMESTAMP},</if>
    </trim>
  </insert>
  
  <!-- 批量查询用户认证信息  -->
  <select id="getApproveList" parameterType="java.util.Map" resultType="java.util.HashMap">
    select * from plat_User_Ext
    where userId in
    <foreach collection="userIdList" item="value" open="(" separator="," close=")">
      #{value}
    </foreach>
  </select>

  <!-- 单条查询用户认证信息  -->
  <select id="getUserApproveInfo" parameterType="java.util.Map" resultType="java.util.HashMap">
    select * from plat_User_Ext where userId=#{userId, jdbcType=VARCHAR}
  </select>

  <!-- 对象定义:用户发起主播认证进程 -->
  <resultMap id="UserProgressMap" type="UserProgress">
    <id      column="id"          property="id"          jdbcType="VARCHAR"/>
    <result  column="userId"      property="userId"      jdbcType="VARCHAR"/>
    <result  column="checkerId"   property="checkerId"   jdbcType="VARCHAR"/>
    <result  column="applyRoleId" property="applyRoleId" jdbcType="VARCHAR"/>
    <result  column="reState"     property="reState"     jdbcType="INTEGER"/>
    <result  column="applyDescn"  property="applyDescn"  jdbcType="VARCHAR"/>
    <result  column="reDescn"     property="reDescn"     jdbcType="VARCHAR"/>
    <result  column="cTime"       property="cTime"       jdbcType="TIMESTAMP"/>
    <result  column="modifyTime"  property="modifyTime"  jdbcType="TIMESTAMP"/>
  </resultMap>
  
  <!-- 所有列 -->
  <sql id="Base_User_Progress_List">
    id, userId, checkerId, applyRoleId, reState, applyDescn, reDescn, cTime, modifyTime
  </sql>
  
  <insert id="insertUserProgress" parameterType="java.util.Map">
    insert into plat_UserProgress
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id!=null">id,</if>
      <if test="userId!=null">userId,</if>
      <if test="checkerId!=null">checkerId,</if>
      <if test="applyRoleId!=null">applyRoleId,</if>
      <if test="reState!=null">reState,</if>
      <if test="applyDescn!=null">applyDescn,</if>
      <if test="reDescn!=null">reDescn,</if>
      <if test="cTime!=null">cTime,</if>
      <if test="modifyTime!=null">modifyTime,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id!=null">#{id,jdbcType=VARCHAR},</if>
      <if test="userId!=null">#{userId,jdbcType=VARCHAR},</if>
      <if test="checkerId!=null">#{checkerId,jdbcType=VARCHAR},</if>
      <if test="applyRoleId!=null">#{applyRoleId,jdbcType=VARCHAR},</if>
      <if test="reState!=null">#{reState,jdbcType=Integer},</if>
      <if test="applyDescn!=null">#{applyDescn,jdbcType=VARCHAR},</if>
      <if test="reDescn!=null">#{reDescn,jdbcType=INTEGER},</if>
      <if test="cTime!=null">#{cTime,jdbcType=TIMESTAMP},</if>
      <if test="modifyTime!=null">#{modifyTime,jdbcType=TIMESTAMP},</if>
    </trim>
  </insert>

  <!-- 查询用户认证信息 -->
  <select id="getUserApproveProgress" parameterType="java.util.Map" resultType="java.util.HashMap">
    select * from plat_UserProgress
    where userId=#{userId,jdbcType=VARCHAR} 
    and modifyTime=(select max(modifyTime) from plat_UserProgress)
  </select>

  <!-- 修改用户认证状态 -->
  <update id="updateUserApproveState" parameterType="java.util.Map">
    update plat_UserProgress set reState=#{reState, jdbcType=INTEGER}
    <if test="applyDescn!=null">
        applyDescn=#{applyDescn, jdbcType=VARCHAR}
    </if>
    where reState!=2 and userId in
    <foreach collection="userIdList" item="value" open="(" separator="," close=")">
      #{value}
    </foreach>
  </update>

  <!-- 删除角色 -->
  <delete id="deleteErrorApprove" parameterType="java.util.Map">
    delete from plat_UserProgress where userId=#{userId, jdbcType=VARCHAR}
  </delete>
  
  <!-- 查询用户认证信息 -->
  <select id="getNotPassUser" parameterType="java.util.Map" resultType="java.util.HashMap">
    select userId from plat_UserProgress where reState=#{reState, jdbcType=INTEGER}
  </select>
</mapper>