<?xml version="1.0" encoding="UTF-8" ?>

<!-- 我听用户 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="WT_GROUP">
  <!-- 对象定义:用户信息 -->
  <resultMap id="groupMap" type="WtGroup">
    <id      column="id"              property="groupId"         jdbcType="VARCHAR"/>
    <result  column="groupNum"        property="groupNum"        jdbcType="VARCHAR"/>
    <result  column="groupName"       property="groupName"       jdbcType="VARCHAR"/>
    <result  column="groupSignature"  property="groupSignature"  jdbcType="VARCHAR"/>
    <result  column="groupPwd"        property="groupPwd"        jdbcType="VARCHAR"/>
    <result  column="groupImg"        property="groupImg"        jdbcType="VARCHAR"/>
    <result  column="groupType"       property="groupType"       jdbcType="INTEGER"/>
    <result  column="pId"             property="PId"             jdbcType="VARCHAR"/>
    <result  column="sort"            property="sort"            jdbcType="INTEGER"/>
    <result  column="createUserId"    property="createUserId"    jdbcType="VARCHAR"/>
    <result  column="groupMasterId"   property="groupMasterId"   jdbcType="VARCHAR"/>
    <result  column="adminUserIds"    property="adminUserIds"    jdbcType="VARCHAR"/>
    <result  column="defaultFreq"     property="defaultFreq"     jdbcType="VARCHAR"/>
    <result  column="descn"           property="descn"           jdbcType="VARCHAR"/>
    <result  column="cTime"           property="CTime"           jdbcType="TIMESTAMP"/>
    <result  column="lmTime"          property="lmTime"          jdbcType="TIMESTAMP"/>
    <result  column="groupCount"      property="groupCount"      jdbcType="INTEGER"/><!-- 来自子表plat_GroupUser -->
    <result  column="groupAlias"      property="groupAlias"      jdbcType="VARCHAR"/><!-- 来自子表plat_GroupUser -->
    <result  column="groupDescn"      property="groupDescn"      jdbcType="VARCHAR"/><!-- 来自子表plat_GroupUser -->
  </resultMap>

  <!-- 对象定义:组用户信息 -->
  <resultMap id="groupUserMap" type="WtGroupUser">
    <id      column="id"           property="id"           jdbcType="VARCHAR"/>
    <result  column="groupId"      property="groupId"      jdbcType="VARCHAR"/>
    <result  column="userId"       property="userId"       jdbcType="VARCHAR"/>
    <result  column="inviter"      property="inviter"      jdbcType="VARCHAR"/>
    <result  column="groupAlias"   property="groupAlias"   jdbcType="VARCHAR"/>
    <result  column="groupDescn"   property="groupDescn"   jdbcType="VARCHAR"/>
    <result  column="cTime"        property="CTime"        jdbcType="TIMESTAMP"/>
  </resultMap>
</mapper>