body{
	min-width:320px;
	max-width:736px;
	margin:0 auto;
	letter-spacing: 1px;
	background-color:#f1f2f2;
}
*{
	margin:0;
	padding:0;
	list-style:none;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: Helvetica,Tahoma,"\5FAE\8F6F\96C5\9ED1";
}
a{
	text-decoration:none;
	color:white;
	font-weight:bold;
}
a:focus{
	outline: none;
}
/*头部样式*/
#container{
	width:100%;
	background-color:white;
}
header{
	background:white;
	width:100%;
	height:72px;
	padding:15px 20px;
}
header #logo img{
	width:150px;
	height:48px;
}
header #logo{
	width:50%;
	float:left;
}
header .downLoad{
  width:80px;
  height:38px;
	float:right;
	text-align:center;
	line-height:38px;
	display:inline-block;
	color:#ffa733;
	border:1px solid #ffa733;
	border-radius: 4px;
	font-size:14px;
  font-weight:bold;
	padding:0 5px;
  cursor:pointer;
}
/*专辑介绍*/
.zjIntro{
	background-color:#ffa733;
	width:100%;
	padding:10px 0;
	color:white;
}
.zjIntro h2{
	margin:0 auto;
	width:50%;
	text-align:center;
	padding:12px 0;
	font-size:16px;
	font-weight:400;
}
.box{
    width: 100px;
    height: 100px;
    margin:0 auto;
}
.box img{
	 width:100px;
	 height:100px;
}
.zjIntro p{
	font-size:14px;
	line-height:1.3em;
	padding:0 12px;
}
/*内容*/
.audioList{
	width:100%;
}
.audioList ul{
	width:100%;
}
.audioList ul li{
	width:100%;
	height:68px;
	border-bottom:1px solid #e0e0e0;
	padding:10px 12px;
}
.audioList .audioIntro{
	width:80%;
	float:left;
	line-height:1.8em;
}
.audioList .audioIntro a h3{
	color:#333;
	font-weight:200;
	font-size:16px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.audioList .audioIntro p{
	color:#9a9a9a;
	font-size:12px;
}
.audioList .playBtn{
	display:inline-block;
	width:32px;
	height:32px;
	line-height:68px;
	float:right;
	margin:8px 0;
	background:url(../imgs/zj_play.png) no-repeat;
}
.audioList .play{
	background:url(../imgs/zj_play.png) no-repeat 0 -35px;
}

.audioList .loadMore{
	display:block;
	width:160px;
	height:40px;
	margin:12px auto;
	border:1px solid #ccc;
	border-radius: 8px;
	outline: none;
}

@media screen and (max-width:600px){
	
}